// variables
$castello: #02401B;
$cavalcanti: #D8B70A;
$main-font: 300 24px/36px 'Lato',
sans-serif;
$reduced-font: 300 20px/28px 'Lato',
sans-serif;
$border-dec: 1px dashed $cavalcanti;
// mixins
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
    -moz-box-sizing: $box-model;
    box-sizing: $box-model;
}

@mixin breakpoint($point) {
    @if $point==large {
        @media (max-width: 1280px) {
            @content;
        }
    }
    @else if $point==medium {
        @media (max-width: 980px) {
            @content;
        }
    }
    @else if $point==small {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point==xsmall {
        @media (max-width: 480px) {
            @content;
        }
    }
    @else if point==xlarge {
        @media (min-width: 1281px) {
            @content;
        }
    }
}

@mixin border-radius($radius...) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin opacity($level) {
    -webkit-opacity: $level;
    -moz-opacity: $level;
    opacity: $level;
}

// base
html {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    background-color: $castello;
    color: $cavalcanti;
    font: $main-font;
    @include breakpoint(medium) {
        font: $reduced-font;
    }
}

i.lg {
    font-size: 52px;
    color: $castello;
    text-shadow: -1px -1px 0 $cavalcanti, 1px -1px 0 $cavalcanti, -1px 1px 0 $cavalcanti, 1px 1px 0 $cavalcanti;
}

a {
    color: $cavalcanti;
    text-decoration: none;
}

// main section 
.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    @include transition(transform 1s ease-in-out)
}

.move {
    transform: translateX(-52vw);
    @include breakpoint(small) {
        transform: translateY(-40vh);
    }
    @media (max-width: 320px) {
        transform: translateY(-52vh);
    }
}

.inner {
    max-width: 600px;
    margin: 0 auto;
    padding: 8em 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint(medium) {
        padding: 4em 0 0;
    }
    @include breakpoint(small) {
        padding: 3em 0;
    }
    @include breakpoint(xsmall) {
        padding: 2em 0 0;
    }
    @include breakpoint(xlarge) {
        padding: 12em 0;
    }
}

.item {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1;
}

.item-content {
    padding: 2em;
    @include breakpoint(medium) {
        padding: 2.5em 1.5em;
    }
    @include breakpoint(xsmall) {
        padding: 2em 4em;
    }
    p:nth-of-type(1) {
        margin-top: 2em;
    }
}

#random {
    border-right: $border-dec;
    border-top: $border-dec;
    @include breakpoint(medium) {
        margin-left: 0;
    }
    @include breakpoint(xsmall) {
        border-right: none;
        border-bottom: $border-dec;
    }
}

#search {
    border-bottom: $border-dec;
    @include breakpoint(medium) {
        margin-right: 0;
    }
}

.hide {
    display: none;
}

.search-form {
    text-align: center;
}

input {
    width: 100%;
    background-color: $castello;
    padding: 0.5em 1em;
    border: 1px solid $cavalcanti;
    box-shadow: none;
    font: 300 18px/24px 'Lato', sans-serif;
    color: $cavalcanti;
    @include border-radius(15px);
}

input:focus {
    outline: none;
}

.results {
    position: absolute;
    margin-left: 75vw;
    top: 0;
    @include breakpoint(small) {
        margin-top: 80vh;
        margin-left: 0;
    }
}