// variables

$castello: #02401B;
$cavalcanti: #D8B70A;

$main-font: 300 24px/36px 'Lato', sans-serif;
$reduced-font: 300 20px/28px 'Lato', sans-serif;

$border-dec: 1px dashed $cavalcanti;

// mixins

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
    -moz-box-sizing: $box-model;
    box-sizing: $box-model;
}

@mixin breakpoint($point) {
    @if point == xlarge {
        @media (min-width: 1281px) {@content;}
    } @else if $point == large {
        @media (max-width:1280px) {@content;}
    } @else if $point == medium {
        @media (max-width: 980px) {@content;}
    } @else if $point == small {
        @media (max-width: 767px) {@content;}
    } @else if $point == xsmall {
        @media (max-width: 480px) {@content;}
    }
}

@mixin border-radius($radius...) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
    
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin opacity($level) {
    -webkit-opacity: $level;
    -moz-opacity: $level;
    opacity: $level;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
} 

@mixin spin-animation($spin...) {
    -webkit-animation: $spin;
    -moz-animation: $spin;
    -ms-animation: $spin;
    animation: $spin;
}

// base

html {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    background-color: $castello;
    color: $cavalcanti;
    font: $main-font;
    @include breakpoint(medium) {
        font: $reduced-font;
    }
}
i.lg {
    font-size: 52px;
    color: $castello;
    text-shadow: -1px -1px 0 $cavalcanti, 1px -1px 0 $cavalcanti, -1px 1px 0 $cavalcanti, 1px 1px 0 $cavalcanti;
}
a {
    color: $cavalcanti;
    text-decoration: none;
}

// main section 

.container {
    margin: 0 auto;
}
.inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 8em 6em;
    justify-content: space-between;
    @include breakpoint(large) {
        padding: 8em 2em;
    }
    @include breakpoint(medium) {
        padding: 3em 8em;
    }
    @include breakpoint(small) {
        padding: 1.5em 4em;
    }
    @include breakpoint(xsmall) {
        padding: 2em 1.5em;
    }
}
.item {
    width: 30%;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1;
    @include breakpoint(large) {
        width: 100%;
    }
}
.item-content {
    padding: 2em;
    @include breakpoint(medium) {
        padding: 2em 4em;
    }
    @include breakpoint(xsmall) {
        padding: 1em 2.5em;
    }
    p {
        margin-top: 2em;
    }
}
#random {
    margin-left: 20%;
    border-right: $border-dec;
    border-top: $border-dec;
    @include breakpoint(medium) {
        margin-left: 0;
    }
    @include breakpoint(xsmall) {
        border-right: none;
        border-bottom: $border-dec;
    }
    @media (min-width:568px) and (max-width:640px) {
        border-right: none;
        border-bottom: $border-dec;
    }
}
#search {
    margin-right: 20%;
    border-bottom: $border-dec;
    @include breakpoint(medium) {
        margin-right: 0;
    }
}
.hide {
    display: none;
}
.search-form {
    text-align: center;
}
input {
    width: 100%;
    background-color: $castello;
    padding: 0.5em 1em;
    border: 1px solid $cavalcanti;
    box-shadow: none;
    font: 300 18px/24px 'Lato', sans-serif;
    color: $cavalcanti;
    @include border-radius(15px);
}
input:focus {
    outline: none;
}
