html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-color: #02401B;
  color: #D8B70A;
  font: 300 24px/36px "Lato", sans-serif;
  margin: 0; }
  @media only screen and (max-width: 980px) {
    body {
      font: 300 20px/28px "Lato", sans-serif; } }

i.lg {
  font-size: 52px;
  color: #02401B;
  text-shadow: -1px -1px 0 #D8B70A, 1px -1px 0 #D8B70A, -1px 1px 0 #D8B70A, 1px 1px 0 #D8B70A; }

a {
  color: #D8B70A;
  text-decoration: none; }

.flex, .container, .inner, .item, ul, ul li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out; }
  @media only screen and (max-width: 767px) {
    .container {
      height: auto;
      overflow: hidden; } }

.move {
  transform: translateX(-50vw); }
  @media only screen and (max-width: 767px) {
    .move {
      transform: translateY(-25%); } }
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .move {
      transform: translateY(-45%); } }
  @media (max-width: 320px) {
    .move {
      transform: translateY(-50%); } }

.inner {
  max-width: 50vw;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center; }
  @media only screen and (max-width: 980px) {
    .inner {
      padding: 4em 0; } }
  @media only screen and (max-width: 767px) {
    .inner {
      max-width: 80vw;
      padding: 3em 0; } }
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .inner {
      flex-direction: column;
      align-items: center;
      padding: 2em 0; } }
  .inner * {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.item {
  text-align: center;
  flex: 1; }

.item-content {
  padding: 2em; }
  @media only screen and (max-width: 980px) {
    .item-content {
      padding: 2.5em 1.5em; } }
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .item-content {
      padding: 2em 1em; } }
  .item-content p:nth-of-type(1) {
    margin-top: 2em; }

#random {
  border-right: 1px dashed #D8B70A;
  border-top: 1px dashed #D8B70A; }
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    #random {
      border-right: none;
      border-bottom: 1px dashed #D8B70A; } }

#search {
  border-bottom: 1px dashed #D8B70A; }

.hide {
  display: none; }

.search-form {
  text-align: center; }

input {
  width: 100%;
  background-color: #02401B;
  padding: 0.5em 1em;
  border: 1px solid #D8B70A;
  box-shadow: none;
  font: 300 18px/24px 'Lato', sans-serif;
  color: #D8B70A;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  @media only screen and (max-width: 767px) {
    input {
      padding: 0.5em 2em; } }

input:focus {
  outline: none; }

.results {
  position: absolute;
  top: 0;
  width: 73vw;
  margin-left: 25vw; }
  @media only screen and (max-width: 767px) {
    .results {
      width: 100%;
      margin-top: 40%;
      margin-left: 0; } }
  @media only screen and (max-width: 480px) and (orientation: portrait) {
    .results {
      margin-top: 80%; } }
  .results * {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.inner-list {
  position: relative;
  height: 100%;
  width: 100%; }

ul {
  list-style: none;
  flex-direction: column;
  justify-content: space-between; }
  ul li {
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
    padding: 0.5em; }
  ul .list-content {
    text-align: left;
    font-size: 16px;
    line-height: 20px; }
  ul a:hover {
    border-left: 1px solid #D8B70A; }
  @media only screen and (max-width: 767px) {
    ul {
      margin: 0;
      padding: 0.5em 1.5em; } }

/*# sourceMappingURL=style.css.map */
