// variables
$castello: #02401B;
$cavalcanti: #D8B70A;
$main-font: 300 24px/36px 'Lato',
sans-serif;
$reduced-font: 300 20px/28px 'Lato',
sans-serif;
$border-dec: 1px dashed $cavalcanti;
// mixins
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
    -moz-box-sizing: $box-model;
    box-sizing: $box-model;
}

@mixin breakpoint($point) {
    @if $point==large {
        @media (max-width: 1280px) {
            @content;
        }
    }
    @else if $point==medium {
        @media (max-width: 980px) {
            @content;
        }
    }
    @else if $point==small {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point==xsmall {
        @media (max-width: 480px) {
            @content;
        }
    }
    @else if point==xlarge {
        @media (min-width: 1281px) {
            @content;
        }
    }
}

@mixin border-radius($radius...) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// base
html {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    background-color: $castello;
    color: $cavalcanti;
    font: $main-font;
    margin: 0;
    @include breakpoint(medium) {
        font: $reduced-font;
    }
}

i.lg {
    font-size: 52px;
    color: $castello;
    text-shadow: -1px -1px 0 $cavalcanti, 1px -1px 0 $cavalcanti, -1px 1px 0 $cavalcanti, 1px 1px 0 $cavalcanti;
}

a {
    color: $cavalcanti;
    text-decoration: none;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// main section 
.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    @extend .flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    @include transition(transform 1s ease-in-out);
}

.move {
    transform: translateX(-50vw);
    @include breakpoint(small) {
        transform: translateY(-25%);
    }
    @include breakpoint(xsmall) {
        transform: translateY(-45%);
    }
    @media (max-width: 320px) {
        transform: translateY(-50%);
    }
}

.inner {
    max-width: 50vw;
    margin: 0 auto;
    @extend .flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    @include breakpoint(medium) {
        padding: 4em 0;
    }
    @include breakpoint(small) {
        max-width: 80vw;
        padding: 3em 0;
    }
    @include breakpoint(xsmall) {
        padding: 2em 0;
    }
    @include breakpoint(xlarge) {
        padding: 12em 0;
    }
    * {
        @include transition(all 0.5s ease);
    }
}

.item {
    text-align: center;
    @extend .flex;
    flex: 1;
}

.item-content {
    padding: 2em;
    @include breakpoint(medium) {
        padding: 2.5em 1.5em;
    }
    @include breakpoint(xsmall) {
        padding: 2em 3em;
    }
    p:nth-of-type(1) {
        margin-top: 2em;
    }
}

#random {
    border-right: $border-dec;
    border-top: $border-dec;
    @include breakpoint(xsmall) {
        border-right: none;
        border-bottom: $border-dec;
    }
}

#search {
    border-bottom: $border-dec;
}

.hide {
    display: none;
}

.search-form {
    text-align: center;
}

input {
    width: 100%;
    background-color: $castello;
    padding: 0.5em 1em;
    border: 1px solid $cavalcanti;
    box-shadow: none;
    font: 300 18px/24px 'Lato', sans-serif;
    color: $cavalcanti;
    @include border-radius(15px);
    @include breakpoint(small) {
        padding: 0.5em 2em;
    }
}

input:focus {
    outline: none;
}

// results section

.results {
    position: absolute;
    top: 0;
    width: 73vw;
    margin-left: 25vw;
    @include breakpoint(small) {
        width: 100%;
        margin-top: 40%;
        margin-left: 0;
    }
    @include breakpoint(xsmall) {
        margin-top: 80%;
    }
    * {
        @include transition(all 0.5s ease);
    }
}

.inner-list {
    position: relative;
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    @extend .flex;
    flex-direction: column;
    justify-content: space-between;
    li {
        width: 100%;
        @extend .flex;
        flex-wrap: wrap;
        flex: 1;
        padding: 0.5em;
    }
    .list-content {
        text-align: left;
        font-size: 16px;
        line-height: 20px;
    }
    a:hover {
        border-left: 1px solid $cavalcanti;
    }
    @include breakpoint(small) {
        margin: 0;
        padding: 0.5em 1.5em;
    }
}