// variables

$castello: #02401B;
$cavalcanti: #D8B70A;

$main-font: 300 24px/36px 'Lato', sans-serif;

$border-dec: 1px dashed $cavalcanti;

// mixins

@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
    -moz-box-sizing: $box-model;
    box-sizing: $box-model;
}

@mixin breakpoint($point) {
    @if point == xlarge {
        @media (min-width: 1281px) {@content;}
    } @else if $point == large {
        @media (min-width: 981px) and (max-width:1280px) {@content;}
    } @else if $point == medium {
        @media (max-width: 980px) {@content;}
    } @else if $point == small {
        @media (max-width: 767px) {@content;}
    } @else if $point == xsmall {
        @media (max-width: 480px) {@content;}
    }
}
    
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin opacity($level) {
    -webkit-opacity: $level;
    -moz-opacity: $level;
    opacity: $level;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
} 

@mixin spin-animation($spin...) {
    -webkit-animation: $spin;
    -moz-animation: $spin;
    -ms-animation: $spin;
    animation: $spin;
}

// base

html {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    background-color: $castello;
    color: $cavalcanti;
    font: $main-font;
}
i.lg {
    font-size: 52px;
    color: $castello;
    text-shadow: -1px -1px 0 $cavalcanti, 1px -1px 0 $cavalcanti, -1px 1px 0 $cavalcanti, 1px 1px 0 $cavalcanti;
}
a {
    color: $cavalcanti;
}
a:hover {
    text-decoration: none;
}

// main section 

.container {
    width: 100%;
    height: 100%;
    margin: 0;
}
.inner {
    width: 60%;
    margin: 0 auto;
    padding: 8em 0;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @include breakpoint(small) {
        padding: 0;
        width: 80%;
    }
    @include breakpoint(medium) {
        padding: 4em 0;
    }
}
.item {
    padding: 2em 4em;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    @include breakpoint(xsmall) {
        padding: 1em 2em;
    }
    p {
        margin-top: 2em;
    }
}
#random {
    border-right: $border-dec;
    border-top: $border-dec;
    @include breakpoint(medium) {
        border-right: none;
        border-bottom: $border-dec;
    }
}
#search {
    border-bottom: $border-dec;
}